<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.css" />
    <link rel="stylesheet" href="~/Content/estilo.css" />

</head>
<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item">
                <i class="fas fa-mobile-alt"></i>
            </a>
            @Html.ActionLink("Inicio", "Index", "Home", new { area = "" }, new { @class = "navbar-menu" })

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            @if (Session["UserID"] != null)
            {
                <div class="navbar-start">
                    <i class="fas fa-address-book navbar-item"></i>
                    @Html.ActionLink("Ver Contactos", "Agenda", "Contactos", new { area = "" }, new { @class = "navbar-item" })
                </div>
            }
            else
            {
                <div class="navbar-start">
                    <i class="fas fa-address-book navbar-item"></i>
                    @Html.ActionLink("Iniciar Sesion", "Login", "Home", new { area = "" }, new { @class = "navbar-item" })
                </div>
            }

            <div id="navbarBasicExample" class="navbar-end">
                @if (Session["UserEmail"] != null)
                {
                    <div class="navbar-item">
                        @Html.ActionLink(Session["UserEmail"] + ", Salir", "logout", "Home", null, new { @class = "button" })
                    </div>

                }
                else
                {
                    <div class="navbar-item">
                        @Html.ActionLink("Registrarse", "Registrarse", "Home", null, new { @class = "button is-primary navbar-item" })
                    </div>
                    <div class="navbar-item">
                        @Html.ActionLink("Iniciar Sesion", "Login", "Home", null, new { @class = "button is-outlined is-info navbar-item" })
                    </div>
                }

            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy;Luis A. Felix R. @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
